.div_1{
    width: 100%;
    line-height: 1;
}

body{
    background-image: url("download.jpg");
}

canvas{
    animation-name: vid;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 20px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    margin-top: 70px; 
}

@keyframes vid{
    from {box-shadow: 5px 5px 60px yellow;}
    to {box-shadow: 5px 5px 60px blue;}
}